.git
.github
.idea
.vscode

**/.DS_Store
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/__pycache__
**/*.pyc
**/*.log

Audio_detection/**
!Audio_detection/browser/
!Audio_detection/browser/*.mjs
db
deploy
docs
ml
packages/**
!packages/shared/
!packages/shared/multimodal/
!packages/shared/multimodal/**/*.mjs
scripts
apps/autotests
apps/api/tests
apps/api/uploads/*
!apps/api/uploads/.gitkeep
